
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <img [src]="avatarUrl || '/assets/img/avatar.png'"class="avatar" style="cursor:pointer;" />
    <input #fileInput type="file" accept="image/*" style="display:none" />

    <ion-label>
      <div>{{ nombre || 'Usuario' }}</div>
      <small *ngIf="email">{{ email }}</small>
    </ion-label>
    <ion-button class="edit-btn" (click)="editarperfil()">Editar Perfil</ion-button>
  </div>

  <!-- Segmento Productos/Reseñas -->
  <ion-segment [(ngModel)]="selectedTab" value="productos">
      <ion-segment-button value="productos">
        <ion-label> Mis Productos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reseñas">
        <ion-label>Mis Reseñas</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Contenido dinámico -->
    <ng-container *ngIf="selectedTab === 'productos'">
    

    <!-- Lista de productos del usuario -->
    <ion-list *ngIf="productos.length > 0">
      <ion-item *ngFor="let p of productos">
        <ion-thumbnail slot="start">
          <img [src]="cover(p)" alt="img" />
        </ion-thumbnail>

        <ion-label>
          <h3>{{ p.title }}</h3>
          <p class="ion-text-wrap">{{ p.description }}</p>
          <small *ngIf="p.created_at">Publicado: {{ p.created_at | date:'shortDate' }}</small>
        </ion-label>

        <ion-badge [color]="statusColor(p)">{{ p.estado }}</ion-badge>
      </ion-item>
    </ion-list>

    <!-- Vacío -->
    <div *ngIf="!prodLoading && productos.length === 0" class="ion-text-center ion-margin-top">
      <p>Sin productos aún.</p>
    </div>

    <!-- Scroll infinito -->
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" [disabled]="!prodHasMore">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <div *ngIf="selectedTab === 'reseñas'">
    <h2>Reseñas de Clientes</h2>
  </div>
</ion-content>

<app-footer-interens></app-footer-interens>
