<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Barra informativa -->
  <div class="info-bar" *ngIf="destinoMasCercano">
    <strong>Destino más cercano:</strong> {{ destinoMasCercano.nombre }}
    <span *ngIf="distanciaKm">({{ distanciaKm.toFixed(1) }} km)</span>
  </div>

  <!-- Contenedor del mapa -->
  <div #mapElement class="map-container"></div>
</ion-content>

<!-- Footer fuera del ion-content -->
<ion-footer>
  <ion-button expand="block" color="success" (click)="iniciarRuta()">INICIAR RUTA</ion-button>
</ion-footer>
