<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalles del Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{det_producto?.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <img [src]="'http://localhost:5000/foto/' + det_producto?.imagp" alt="Imagen" style="max-width: 100%; height: auto;"> -->
      <h1>{{det_producto?.precio}}</h1>
      <h2>{{det_producto?.descripcion}}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>