<ion-header>
  <ion-buttons slot="start">
    <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="centrar">
    <ion-img class="imge" src="assets/img/inter.png"></ion-img>
  </div>
  <br>
  <div class="form-container">
    <ion-item class="custom-item" [class.invalido]="esCampoInvalido('nombre')">
      <ion-input class="custom-input" type="text" placeholder="Ingrese nombre del producto" [(ngModel)]="produc.nombre"></ion-input>
    </ion-item>
    
    <ion-item class="custom-item" [class.invalido]="esCampoInvalido('descripcion')">
      <ion-textarea class="custom-input" placeholder="Ingrese descripción" [(ngModel)]="produc.descripcion"></ion-textarea>
    </ion-item>
    
    <ion-item class="custom-item" [class.invalido]="esCampoInvalido('precio')">
      <div class="input-button-container">
        <ion-input class="custom-input" type="text" placeholder="Ingrese precio" [(ngModel)]="produc.precio" [disabled]="isDonation"></ion-input>
        <ion-button class="donate-button" (click)="toggleDonation()">{{ isDonation ? 'Cancelar Donación' : 'Donar' }}</ion-button>
      </div>
    </ion-item>
    
    <ion-item class="custom-item" [class.invalido]="esCampoInvalido('stock')">
      <ion-input class="custom-input" type="text" placeholder="Ingrese stock" [(ngModel)]="produc.stock"></ion-input>
    </ion-item>
    
    <ion-item class="custom-item" [class.invalido]="esCampoInvalido('id_categoria')">
      <ion-label>Categoría: {{ nombreCat.nombre_categoria }}</ion-label>
      <ion-select [(ngModel)]="produc.id_categoria" name="id_categoria" placeholder="Selecciona una categoría" required (ionChange)="actualizarNombreCategoria()">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
          {{ categoria.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    

    <div class="centrar">
      <ion-button class="color-text-white" color="primary" fill="solid" shape="round" (click)="onSubmit(produc)">Siguiente</ion-button>
    </div>
  </div>
</ion-content>
