<ion-header>
  <ion-toolbar>
    <ion-title style="color:rgb(255, 255, 255)">
      Carrito de compras
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="productosCarrito.length > 0" style="background-color: rgb(250, 250, 250); margin-bottom: 220px;">
    <ion-item *ngFor="let producto of productosCarrito" class="fondoblanco">
      <div class="product-container">
        <div class="product-image">
          <img [src]="getImagenProducto(producto)" alt="Imagen del producto">
        </div>
        <div class="product-details">
          <h2 style="color: black;">{{ producto.nombre }}</h2>
          <p style="color: black;">{{ producto.precio}}</p>
          <div class="product-counter">
            <div class="delete-icon" (click)="eliminarDelCarrito(producto)">
              <img src="assets/img/bin.png" alt="Eliminar del carrito">
            </div>
            <button (click)="decrementarCantidad(producto)" style="color: black;">-</button>
            <span style="color: black;">{{ producto.cantidad }}</span>
            <button (click)="incrementarCantidad(producto)" style="color: black;">+</button>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="productosCarrito.length === 0"></ion-spinner>
  
  <div id="summaryDiv" style="background: rgba(8, 149, 104, 0.826); color: white; padding: 20px; position: fixed; bottom: 0; width: 100%; border-radius: 15px; z-index: 1000;">
    <ion-title style="color: white;">Resumen de tu compra</ion-title>
    <ion-item style="--background: rgba(255, 255, 255, 0.826); --color: rgb(0, 0, 0);border-radius: 15px;">
      <ion-label>Delivery:</ion-label>
      <ion-note class="custom-note" slot="end" style="color: rgb(0, 0, 0);">Gratis</ion-note>
    </ion-item>
    <ion-item style="--background: rgba(255, 255, 255, 0.826); --color: rgb(0, 0, 0);border-radius: 15px;margin-top: 5px;">
      <ion-label>Total:</ion-label>
      <ion-note class="custom-note" slot="end" style="color: rgb(2, 2, 2);">{{ calcularTotal() | currency:'':'symbol':'1.0-0' }}</ion-note>
    </ion-item>
    <ion-button expand="block" (click)="continuarCompra()" style="margin-top: 20px; --background: white; --color: black; border-radius: 30px;">Continuar con tu compra</ion-button>
  </div> 
</ion-content>
