<ion-header>
  <ion-toolbar>
    <ion-buttons style="color: black;" slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>   
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaulthref= "home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="centrar" style="color: black;">Subir producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin-top: 20px; text-align: center;">
      <input class="centrar" style="margin: 0 auto;" type="file" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <div *ngIf="imagePreviews.length > 0" class="centrar">
      <img *ngFor="let imagePreview of imagePreviews" [src]="imagePreview" alt="Vista previa de la imagen">
    </div>
    <div class="centrar">
      <ion-button class="transparent-border" color="primary" fill="clear" shape="round"  (click)="eliminarFotos()">
        <img src="./assets/icon/closep.png" alt="">
      </ion-button>
    </div>
    <div class="centrar"> 
      <ion-button class="color-text-white" color="primary" fill="solid" shape="round" (click)="onSubmit()">Subir Imagen</ion-button>
    </div>
    <p *ngIf="nombreFoto" style="color: black;">Nombre de la foto subida: {{ nombreFoto }}</p>
    <div class="centrar">
      <img *ngIf="nombreFoto" [src]="'http://localhost:5000/foto/' + nombreFoto" alt="Foto">
    </div>
    <!-- <div class="centrar" style="margin-top:30px">
      <ion-button color="danger" (click)="eliminarFoto(nombreFoto)" *ngIf="nombreFoto">Eliminar</ion-button>
    </div> -->
</ion-content>