
ion-toolbar {
  --background:rgba(10, 174, 122, 0.826);
}

ion-content {
  --background: none; /* Eliminar cualquier fondo por defecto */
  background-image: url('/assets/img/fondo2.png'); /* Fondo de imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.container {
  color: black;
  background-color: white; /* Fondo blanco para el formulario */
  margin: 20px;
  padding: 10px; /* Añade algo de espacio alrededor del formulario */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el formulario */
  margin-bottom: 20px; /* Espacio entre form-wrapper y contact-details */

  }
  
  .section {
    padding: 2rem 0;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    p, ul, ol {
      font-size: 1rem;
      max-width: 800px;
      margin: 0 auto;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        background: white;
        border: 1px solid #068545;
        margin: 0.5rem 0;
        color: rgb(3, 2, 2);
        padding: 0.75rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  
    ol {
      list-style-position: inside;
  
      li {
        background: rgb(235, 226, 226);
        margin: 0.5rem 0;
        padding: 0.75rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
  