<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <section id="about" class="section">
      <h2>Sobre Nosotros</h2>
      <p>InterEns es una plataforma digital dedicada a promover prácticas sostenibles y responsables en la gestión de enseres domésticos en desuso. Conectamos a personas que desean donar, intercambiar o vender artículos de hogar con aquellos que los necesitan.</p>
    </section>
  </div>
  <div class="container">
    <section id="features" class="section">
      <h2>Características</h2>
      <ul>
        <li>Filtro de categorías para encontrar artículos específicos</li>
        <li>Sistema de valoraciones y reseñas para transacciones seguras</li>
        <li>Herramientas educativas sobre reparación y mantenimiento</li>
        <li>Alianzas con talleres de reparación locales y ONGs</li>
        <li>Estrategia de gamificación para incentivar la participación</li>
      </ul>
    </section>
  </div>
  <div class="container">
    <section id="contact" class="section">
      <h2>Contacto</h2>
      <p>Si tienes preguntas o necesitas más información, no dudes en contactarnos a través de nuestro correo electrónico: </p>
    </section>
  </div>
</ion-content>
