<ion-content [fullscreen]="true">
  <div class="wrap">
    <section class="card">
      <!-- Marca centrada -->
      <div class="brand">
        <ion-img src="assets/nueva_iconos/logo.png" alt="InterEns" class="logo"></ion-img>
        <h1>InterEns</h1>
      </div>

      <form [formGroup]="form" (ngSubmit)="signIn()">
          <!-- Correo -->
          <ion-item class="field" lines="none">
            <ion-label class="stack" position="stacked">Correo electrónico</ion-label>
            <div class="input-shell">
              <ion-img src="assets/nueva_iconos/correo-electronico (1).png"></ion-img>
              <ion-input formControlName="email" type="email" placeholder="correo@ejemplo.com"></ion-input>
            </div>
          </ion-item>

          <ion-item class="field" lines="none">
            <ion-label class="stack" position="stacked">Contraseña</ion-label>
            <div class="input-shell">
               <ion-img src="assets/nueva_iconos/cerrar.png"></ion-img>
              <ion-input formControlName="password" [type]="showPwd ? 'text' : 'password'" placeholder="••••••••"></ion-input>
              <ion-button fill="clear" size="small" class="eye" (click)="togglePwd()">
                <ion-icon [name]="showPwd ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
            </div>
          </ion-item>


        <!-- Opciones -->
        <div class="options">
          <label class="remember">
            <ion-checkbox formControlName="remember"></ion-checkbox>
            <span>Recordarme</span>
          </label>
          <a class="forgot" href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Botón principal -->
        <ion-button type="submit" expand="block" color="primary" class="btn-primary">
          Iniciar sesión
        </ion-button>

        <!-- Separador -->
        <div class="separator"><span>o</span></div>

        <!-- Botón Google -->
        <ion-button expand="block" fill="outline" class="btn-google">
          <ion-img
            src="https://www.svgrepo.com/show/355037/google.svg"
            alt="Google" class="g-logo">
          </ion-img>
          Continuar con Google
        </ion-button>
      </form>
    </section>
  </div>
</ion-content>
