<ion-footer class="footer-fijo">
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-around">

      <ion-button (click)="home()">
        <ion-icon name="home-outline" class="footer-icon"></ion-icon>
      </ion-button>

      <ion-button (click)="puntoLimpio()">
        <ion-icon name="navigate-outline" class="footer-icon"></ion-icon>
      </ion-button>

      <ion-button class="central-btn" (click)="goProducto()">
        <ion-icon name="add-circle-outline" class="footer-icon"></ion-icon>
      </ion-button>

      <ion-button (click)="perfil()">
        <ion-icon name="person-circle-outline" class="footer-icon"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
