<ion-footer class="footer-fijo">
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-around">
      <ion-button (click)="home()">
        <img src="assets/icon/homeblanco.png" class="icono-boton" alt="Inicio" />
      </ion-button>

      <ion-button (click)="puntoLimpio()">
        <img src="assets/icon/gpsblanco.png" class="icono-boton" alt="Punto limpio" />
      </ion-button>

      <ion-button class="central-btn" (click)="goProducto()">
        <img src="assets/icon/subirblanco.png" class="icono-boton" alt="Subir producto" />
      </ion-button>

      <ion-button (click)="perfil()">
        <img src="assets/icon/usuarioblanco.png" class="icono-boton" alt="Perfil" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
