<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 20px;" (click)="goCarrito()">
      <ion-img src="assets/img/cart.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content id="main-content">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterProducts()"></ion-searchbar>
    <ion-button id="abrir-filtro-busqueda" class="transparent-border" slot="end" fill="clear">
      <ion-icon src="./assets/icon/options.svg"></ion-icon>
    </ion-button>
  </ion-toolbar> 

  <ion-action-sheet
    class="my-custom-class"
    *ngIf="showMenu"
    trigger="abrir-filtro-busqueda"
    header="Filtro de Búsqueda"
    [buttons]="buttons"
  ></ion-action-sheet>

  <!-- Spinner de carga -->
  <div *ngIf="loading" class="spinner-container">
    <ion-spinner class="custom-spinner" name="circles" color="primary"></ion-spinner>
  </div>

  <!-- Lista de productos -->
  <ion-row *ngIf="!loading">
    <ion-col *ngFor="let producto of filteredProducts" size="6">
      <ion-card class="carta" (click)="goDetalleProducto(producto)">
        <ion-card-header>
          <div class="image-container">
            <img [src]="getImagenProducto(producto)" alt="Imagen" class="product-image" (load)="onImageLoad()">
          </div>
          <ion-card-title class="carta-titulo">{{ producto.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Precio: {{ producto.precio }} <br>
          <!-- Descripción: {{ producto.descripcion }} -->
        </ion-card-content>
        <ion-button color="primary" (click)="agregarCarrito($event, producto)">Agregar carrito</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
