<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color: black">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="vertical-buttons">
      <ion-button fill="clear" (click)="perfil()">Perfil</ion-button>
      <ion-button fill="clear" (click)="salir()">Novedades</ion-button>
      <ion-button fill="clear" (click)="salir()">Preguntas frecuentes</ion-button>
      <ion-button fill="clear" (click)="salir()">Contacto</ion-button>
      <ion-button fill="clear" (click)="puntoLimpio()">Punto limpio</ion-button>
      <ion-button fill="clear" (click)="salir()">Cerrar sesión</ion-button>
    </div>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>

    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-button id="abrir-filtro-busqueda" class="transparent-border" slot="end" fill="clear">
      <ion-icon src="./assets/icon/options.svg"></ion-icon>
    </ion-button>
  </ion-toolbar> 
  <ion-action-sheet
    trigger="abrir-filtro-busqueda"
    header="Filtro de Búsqueda"
    [buttons]="buttons"
  ></ion-action-sheet>
  <!-- Contenido principal aquí -->
  <ion-row>
    <ion-col *ngFor="let producto of productos" (click)="goDetalleProducto(producto)" size="6">
      <ion-card class="carta">
        <ion-card-header>
          <div class="image-container">
            <img [src]="getImagenProducto(producto)" alt="Imagen" class="product-image">
          </div>
          <ion-card-title class="carta-titulo">{{ producto.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Precio: {{ producto.precio }} <br>
          <!-- Descripción: {{ producto.descripcion }} -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>