ion-toolbar {
  --background:rgba(10, 174, 122, 0.826);
}
/* Estilos para el contenido */
ion-content {
  --background: none; /* Eliminar cualquier fondo por defecto */
  background-image: url('/assets/img/fondo2.png'); /* Fondo de imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  --background: #ffffff; /* Cambia el color de fondo aquí */
}

.color-text-black {
  color: black;
  font-family: 'Roboto';
}

ion-menu::part(backdrop) {
  background-color: rgba(43, 1, 43, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(94, 94, 94, 0.18);
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los botones a la izquierda */
}

.transparent-border {
  border: 2px solid transparent; /* Establece el borde transparente */
  border-color: rgb(255, 255, 255);
  border-radius: 10px; /* Opcional: Agrega bordes redondeados */
  box-shadow: 2px 2px 4px rgba(122, 122, 122, 0.5);
}

ion-buttons ion-back-button {
  --color: black;
}

.boton-mostrar-todos {
  --background: #3880ff; /* Color de fondo del botón Mostrar todos */
}

.boton-categoria {
  --background: #32db64; /* Color de fondo por defecto de los botones de categoría */
  --background-hover: #2bb355; /* Color de fondo al pasar el cursor */
  --color: #ffffff; /* Color del texto */
}


/* Contenido de los productos */
ion-card.carta {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 15px;
  border: #000000;
}

.card-content {
  display: flex;
  flex-direction: row; /* Disposición horizontal */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 10px; /* Espacio dentro del ion-card */
  width: 100%; /* Asegura que el contenido ocupe todo el ancho del card */
}

.image-container {
  flex: 0 0 auto; /* La imagen no debe crecer ni encoger */
  width: 150px; /* Ancho fijo para la imagen */
  height: 150px; /* Alto fijo para la imagen */
  margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsión */
  border-radius: 8px; /* Opcional: Añade bordes redondeados a la imagen */
}

.details-container {
  flex: 1 1 auto; /* Los detalles ocupan todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido dentro de details-container */
}

h2, p {
  margin: 0;
  white-space: nowrap; /* Evita que los textos largos se rompan */
  overflow: hidden; /* Oculta el texto que sobresale */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto cortado */
}

.custom-button {
  align-self: flex-start; /* Alinea el botón a la izquierda dentro del espacio disponible */
  margin-top: 40px; /* Espacio sobre el botón */
  --background: #4CAF50; /* Color de fondo del botón */
  --background-activated: #45a049; /* Color de fondo cuando se presiona el botón */
  --color: white; /* Color del texto del botón */
  --border-radius: 4px; /* Bordes redondeados del botón */
  --padding-start: 10px; /* Padding interno del botón */
  --padding-end: 10px; /* Padding interno del botón */
  --padding-top: 8px; /* Padding interno del botón */
  --padding-bottom: 8px; /* Padding interno del botón */
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); /* Sombra del botón */
  --transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.custom-spinner {
  width: 70px;
  height: 70px;
  margin: auto;
  position: absolute; /* Posicionamiento absoluto para centrarlo */
  top: 50%; /* Coloca el margen superior en el 50% del contenedor padre */
  left: 50%; /* Coloca el margen izquierdo en el 50% del contenedor padre */
  transform: translate(-50%, -50%); /* Centra el spinner */
}

.cart-icon {
  width: 30px; /* Ajusta el tamaño según sea necesario */
  height: 30px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.category-button-container {
  padding: 10px;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px; // Margin around each button
}

.category-button ion-button {
  --border-radius: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 14px;
  white-space: normal; // Allow text to wrap
  word-wrap: break-word; // Break long words
  display: block;
  width: calc(150% - 20px); // Ensure button takes full width with margin
}

.category-text {
  padding: 0 !important; // Remove default padding to better fit content
}

