<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consejos Generales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>📦 Usa cajas resistentes y preferiblemente recicladas.</li>
        <li>🌿 Protege artículos frágiles con materiales ecológicos (papel o cartón).</li>
        <li>🚫 Evita plásticos de un solo uso o burbujas sintéticas.</li>
        <li>🧵 Cierra las cajas con cinta ecológica o reutilizable.</li>
        <li>✍️ Etiqueta si el paquete contiene objetos frágiles.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Por Tipo de Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>👕 <b>Ropa:</b> Usa bolsas de tela o papel reciclado.</li>
        <li>💻 <b>Electrónicos:</b> Cubre esquinas y marca “Frágil”.</li>
        <li>📚 <b>Libros:</b> Protege con cartón rígido.</li>
        <li>🪑 <b>Muebles:</b> Desármalo y cúbrelo con mantas o cartón grueso.</li>
        <li>🎨 <b>Decoración:</b> Usa papel arrugado como relleno protector.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="volverInicio()" class="btn-volver">
    🌈 Volver al Inicio
  </ion-button>
</ion-content>
