
 <ion-header [translucent]="true" class="mi-pagina">
</ion-header>

<ion-content class="portada" [class.loaded]="isLoaded">
  <div class="contenedor">
    <div class="logo-container">
      <ion-img class="logo" src="assets/nuevos_img/interens-logo.png"></ion-img>
      <h1 class="brand-name">InterEns</h1>
    </div>

    <div class="boton-container">
      <ion-button
        class="cta"
        expand="block"
        shape="round"
        size="large"
        type="submit"
        (click)="sg()">
        COMENZAR
      </ion-button>
    </div>
  </div>
</ion-content>
