<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="home" text="" color="rgb(165, 17, 233)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container1">
    <section id="about" class="section">
      <h1>Aprende a reciclar</h1>
      <p>Reciclar es una práctica importante para la sostenibilidad y la protección del medio ambiente. Aquí tienes una guía básica sobre lo que debes saber para reciclar correctamente</p>
    </section>
  </div>
  <div class="container2">
    <section id="features" class="section">
      <h2>Papel y Cartón</h2>
      <ul>
        <li>
          Qué reciclar: Periódicos, revistas, cajas de cartón, papel de oficina, sobres.
         </li>
          
        <li>Qué no reciclar: Papel sucio, toallas de papel, papel encerado</li>
        <h2>Plásticos</h2>
        <li>Qué reciclar: Botellas de plástico, envases de alimentos, bolsas de plástico.</li>
        <li>Qué no reciclar: Plásticos con residuos de alimentos, plásticos muy pequeños.</li>
        <h2>Vidrio</h2>
        <li>Qué reciclar: Botellas de vidrio, frascos.</li>
        <li>Qué no reciclar: Vidrio roto, espejos, ventanas.</li>
        
        <h2>Metales</h2>
        <li>Qué reciclar: Latas de aluminio, latas de acero, papel de aluminio limpio.</li>
        <li>Qué no reciclar: Latas sucias, objetos metálicos grandes.</li>
      </ul>
    </section>
  </div>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3za-Yf7ziL8" frameborder="0" allowfullscreen></iframe>
</div>


  
</ion-content>
