<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar></ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="vertical-buttons">
      <ion-button fill="clear" (click)="perfil()" class="menu-btn">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Perfil
      </ion-button>

      <ion-button fill="clear" (click)="preguntas()" class="menu-btn">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        Preguntas frecuentes
      </ion-button>

      <ion-button fill="clear" (click)="contacto()" class="menu-btn">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        Contacto
      </ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false" class="icono-accent"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- 🧑‍💻 Bienvenida -->
    <div class="welcome-card">
      <ion-avatar>
        <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
      </ion-avatar>
      <div>
        <h2 class="color-txt">Bienvenido</h2>
        <p class="color-muted">Reciclemos tus artículos</p>
      </div>
    </div>

    <!-- 💰 Puntos -->
    <div class="balance-card">
      <div
        class="action-card"
        [class.selected]="selectedCard === 'puntos'"
        (click)="selectCard('puntos'); goPuntos()"
      >
        <p class="color-muted">Puntos Disponibles</p>
        <h2 class="accent">{{ puntosTotales }} InterCoins</h2>

      </div>
    </div>

    <!-- ⚙️ Acciones principales -->
    <div class="grid-actions">
      <div
        class="action-card"
        [class.selected]="selectedCard === 'donar'"
        (click)="selectCard('donar'); goSubirfoto()"
      >
        <ion-icon name="cloud-upload-outline" class="faq-icon"></ion-icon>
        <p>Subir producto</p>
      </div>

      <div
        class="action-card"
        [class.selected]="selectedCard === 'misiones'"
        (click)="selectCard('misiones'); contacto()"
      >
        <ion-icon name="trophy-outline" class="faq-icon"></ion-icon>
        <p>Misiones</p>
      </div>

      <div
        class="action-card"
        [class.selected]="selectedCard === 'retiro'"
        (click)="selectCard('retiro'); contacto()"
      >
        <ion-icon name="cart-outline" class="faq-icon"></ion-icon>
        <p>Retiro Producto</p>
      </div>

      <div
        class="action-card"
        [class.selected]="selectedCard === 'faq'"
        (click)="selectCard('faq'); goProducto()"
      >
        <ion-icon name="search-outline" class="faq-icon"></ion-icon>
        <p>Buscar Productos</p>
      </div>
    </div>
  </ion-content>
</div>
