ion-content {
  --background: none; /* Elimina cualquier fondo por defecto */
  background-image: url('/assets/img/fondo2.png'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-page {
  #main-content {
    ion-content {
      // Añadir fondo de imagen al ion-content de la página principal
      background-image: url('/assets/img/foto1.png'); /* Ruta de la imagen */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/* Otros estilos globales */
* {
  --background: #ffffff; /* Cambia el color de fondo aquí */
  --background-image: url('/assets/img/foto1.png'); /* Ruta de la imagen */
}

.color-white {
  --background: white;
}

.color-text-black {
  color: black;
  font-family: 'Roboto';
}

.color-text-white {
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
}

.color-text-grey {
  color: rgb(151, 151, 151);
  font-family: 'Roboto';
}

.centrar {
  display: grid;
  place-content: center;
}

.boton-circular {
  width: 80px; /* Ajusta el ancho según tus necesidades */
  height: 80px; /* Ajusta la altura según tus necesidades */
  justify-content: center;
  align-items: center;
  --background: rgb(226, 226, 230); /* Color de fondo del botón */
  margin-left: 10px;
  z-index: 2;
}

.imge {
  width: 300px;
}

.icono-imagen-derecho {
  width: 25px; /* Ajusta el ancho según tus necesidades */
  height: 25px; /* Ajusta la altura según tus necesidades */
  background: url('/assets/img/magnifier.png') center/cover no-repeat; /* Ruta a tu imagen */
  border-radius: 50%; /* Hace que el contenedor sea circular */
}

.icono-imagen-izquierdo {
  width: 25px; /* Ajusta el ancho según tus necesidades */
  height: 25px; /* Ajusta la altura según tus necesidades */
  background: url('/assets/img/up-arrow.png') center/cover no-repeat; /* Ruta a tu imagen */
  border-radius: 50%; /* Hace que el contenedor sea circular */
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los botones a la izquierda */
}

ion-buttons ion-back-button {
  --color: black;
}
